{% extends 'base.html.twig' %}
{% block content %}
    <div class="rounded-4 overflow-hidden content-background-color w-100 h-auto text-md-start">
            <div id="title" class="ms-5 mt-4">
                <h1>Sign In</h1>
            </div>
            <div id="form" class="ms-5 me-5">
                {{ form(form) }}
            </div>
    </div>
    {% for message in app.session.flashBag.get('danger') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
