{% extends 'base.html.twig' %}
{% block content %}
    <div class="content-background-color rounded-4 overflow-hidden w-100 h-100 mb-5">
        <div class="h-100 w-100 m-3 overflow-auto text-md-start">
                <h2>{{ application.createdAt }}</h2> <br>
                <h5>{{ application.description }}</h5>
        </div>
    </div>
{% endblock %}
