{% extends 'base.html.twig' %}
{% block title %}FindAJob{% endblock %}
{% block content %}
    <main class="px-5 mt-5 mb-5">
        <h1 class="mb-3">The largest selection of job offers</h1>
        <p class="lead">We have been trusted by thousands of users who have found the jobs of their dreams. Don't miss
            this opportunity!</p>
        <h2 class="mt-5">Top offers</h2>
    </main>
{% endblock %}